* {
    box-sizing: border-box;
}
.main-container {
    background: url(../img/background.png) no-repeat center;
    min-height: 100vh;
    background-size: cover;
    font-family: Roboto, sans-serif;
    padding-top: 50px;
    padding-bottom: 15px;
}

.content-container {
    width: 1070px;
    margin: auto;
}

.header {
    height: 60px;
    margin-bottom: 40px;
}

.header-logo {
    width: 150px;
    float: left;
}

.header-logo span {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 15px;
}

.logo-text {
    display: inline-block;
    position: absolute;
}

.logo-first-word {
    font-size: 29px;
    height: 14px;
    line-height: 21px;
    margin-bottom: 10px;
    margin-top: 3px;
    display: block;
    
}

.logo-second-word {
    font-size: 18px;
    display: block;
    line-height: 21px;
}

.header-logo a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

.contacts {
    float: right;
}

.contacts a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.phonenumber {
    display: block;
    padding-top: 15px;
}

a:hover div span,
.header :hover,
a:hover h4{
    color: #F26522;
}

a:hover .logo-wrapper {
    background: url(../img/logo2.png) no-repeat;
}

.logo-wrapper {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 44px;
    background: url(../img/logo.png) no-repeat;
    background-size: contain;
}

.main {
    height: 570px;
}

.content-box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 311px;
    height: 204px;
    margin-bottom: 80px;
    float: left;
}
.content-box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 311px;
    height: 204px;
    margin-left: 67px;
    margin-bottom: 80px;
    float: left;
}

.gradient-box {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, white,black, transparent);
    overflow: hidden;
    padding: 2px;
}

.picture {
    display: block;
    width: 100%;
    height: 100%;
}

.content-name {
    display: inline-block;
    font-size: 18px;
    text-align: center;
    color: white;
    margin: 16px auto 0;
    line-height: 21px;
    clear: both;
}

.bollard {
    width: 311px;
    height: 63px;
    left: 0;
    background-color: #F26522;
    bottom: -63px;
    position: absolute;
    transition: all 0.5s ease;
}

.bollard p{
    color: white;
    line-height: 21px;
}

.price-wrapper {
    float: left;
    margin-left: 16px;
    margin-top: 7px;
}

.price-limit {
    font-size: 10px;
}
.price {
    font-size: 20px;
}

.details-wrapper {
    float: right;
    margin-top: 30px;
    margin-right: 7px;
    font-size: 14px;

}
.details-wrapper p::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(45deg);
    margin-left: 24px;
}
.content-box1:hover .bollard,
.content-box2:hover .bollard { 
    bottom: 0;
}

.footer {
    font-size: 12px;
    line-height: 21px;
    color: white;
    text-align: center;
    font-family: Roboto, sans-serif;
}
